#mainWrap .chatContent {
	margin-top: 3%;
}

.headerText,.footerText {
	color: white;
}

.footerText{
    font-size: 12px;
}

.floatLeft {
	float:left;
}

.clear{
	clear: both;
}

.error{
	color: red;
}

#searchSection{
	width: 25%;
	margin-left: 5%;
}

#chatSection{
	width: 70%;
}

.searchUserText{
	border-radius: 10px;
	padding: 5px 5px 5px 30px;
}

.searchUser{
	margin-bottom: 9%;
}

ul{
	list-style-type: none;
	padding: 0px;
	width: 100%;
}

:focus {
	outline: 0;
}

input{
	width: 90%;
}

.allUsers{
	border: 1px solid black;
	width: 90%;
	max-height: 448px;
	overflow: auto;
}

.allUsers li{
	padding: 8%;
    width: 100%;
}

.allUsers li:hover{
	background-color: #EAE3E3;
}

.chatHistory li {
	padding: 5%;
}

.chatHistory{
	max-height: 450px;
	overflow: auto;
	border: 1px solid black;
	margin-bottom: 1%;
}

.messageText{
	width: 85%;
}

.userInfo {
	margin-top: -30px;
}

.alighLeft{
	text-align: left;
	float: left;
	background-color: #EAE3E3;
	padding: 20px;
	border-radius: 10px;
}

.alighRight{
	text-align: right;
	float: right;
	background-color: #9BEDD0;
	padding: 20px;
	border-radius: 10px;
}
.active{
	background-color: #EAE3E3;
}
.inner-addon { 
    position: relative; 
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;bottom: 10px}
.left-addon input  { padding-left:  30px; }
